@font-face {
  font-family: digital;
  src: url(../../assets/font-awesome/fonts/digital.ttf);
}

.humidity {
  text-align: center;
  font-size: 25px;
  height: 150px !important;
}

.description {
  font-size: 25px;
  padding-top: 15px;
}

.humidity_box {
  font-family: 'digital', monospace;
  background-color: #0f0f0f;
  border-radius: 10px;
  font-size: 50px;
  line-height: 50px;
  margin-left: auto;
  margin-right: auto;
}

/*#actual_temp {*/
/*color: darkgreen;*/
/*}*/


@media (max-width: 768px) {
  .description {
    font-size: 20px;
  }
}
