.about{
  /*background: url(../../assets/img/team.jpg)center center no-repeat;*/
  min-height: 100vh;
  color:#000;
  font-size: 2em;
}

.about p{
  font-weight: bold;
  letter-spacing: 4px;
}

.about p:last-of-type{
  padding-top:5%;
  font-weight: normal;
  letter-spacing: 0px;
}

.about h1{
  padding-top:5%;
}

@media(max-width: 1024px){
  .about h1{
    padding-top:12%;
  }
}

section#about.about.parallax-window{
  position: relative;
  top:-50px;
}
