.about{
  background: url(../../assets/img/team.jpg)center/cover no-repeat;
  width: 100%;
  min-height: 95vh;
  color:#fff;
  font-size: 2em;
  margin-bottom: 40px;
}

.about p {
  font-weight: bold;
  letter-spacing: 4px;
}

.about p:last-of-type {
  padding-top: 5%;
  font-weight: normal;
  letter-spacing: 0;
  margin-bottom: 0;
}

.about h1{
  padding-top:5%;
  margin:0;
}

@media (max-width: 1024px) {
  .about h1 {
    padding-top: 12%;
  }
}

