<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
              aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand navbar-left" routerLink="home">
        <div class="logo"><img src="../../assets/img/logo.png" alt="logo"></div>
      </a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
        <li class="active"><a routerLink="home">Home</a></li>
        <li><a id="about_link" routerLink="about">{{ 'navbar.about' | translate }}</a></li>
        <li><a id="gallery_link" routerLink="gallery">{{ 'navbar.gallery' | translate }}</a></li>
        <li><a id="offer_link" routerLink="offer">{{ 'navbar.offer' | translate }}</a></li>
        <li><a id="contact_link" routerLink="contact">{{ 'navbar.contact' | translate }}</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
             aria-expanded="false">{{ 'navbar.language' | translate }}<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>
              <a (click)="changeLanguage('pl')"><img src="{{'../../assets/img/svg/pl.svg'}}"/>{{ 'languages.polish' |
                translate }}</a>
            </li>
            <li>
              <a (click)="changeLanguage('en')"><img src="{{'../../assets/img/svg/en.svg'}}"/>{{ 'languages.english' |
                translate }}</a>
            </li>
          </ul>
        <li><a routerLink="functions" *ngIf="auth.authenticated()">{{ 'navbar.functions' | translate }}</a></li>
        <li>
          <div class="login-button">
            <a (click)="auth.login()" *ngIf="!auth.authenticated()">{{ 'navbar.signin' | translate }}</a>
            <a (click)="auth.logout()" *ngIf="auth.authenticated()">{{ 'navbar.signout' | translate }}</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
