

<section id="contact" class="contact" >

  <div class="col-xs-12 rect no-padding">

    <br/><br/><h1>Kontakt</h1><br/>

    <a name="Kontakt"></a>


    <div id="dane">
      <p><a href="mailto: smarthomepg2017@gmail.com">Adres mailowy: smarthomepg2017@gmail.com</a></p>
      <p>Numer kontaktowy: 123 4-6 789</p>
      <p>Adres firmy: Unnamed Road 1, 80-299 Gdańsk</p> <br/>
    </div>

    <div id="form_contact">


      <div class="form-container"> <iframe width="100%" height="900" src="http://serwer1749312.home.pl/email/"></iframe> </div>

    </div>

    <div class="video-container"> <iframe src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d17540.099422435993!2d18.508873246603986!3d54.39433080397501!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x46fd755f9b2ad8ed%3A0xf00103fe8d8d5538!2sUnnamed+Road%2C+Gda%C5%84sk!3m2!1d54.3989392!2d18.5111529!5e0!3m2!1spl!2spl!4v1490700503006" width="560" height="315" frameborder="0" style="border:0; box-sizing:content-box; width:100%;" ></iframe></div>

  </div>

</section>
