<section id="contact" class="contact" >

  <div class="col-xs-12 rect no-padding">

    <div id="formularz">
      <h1>Formularz kontaktowy</h1>  <br/>
      <form method="post" action="contact.component.php">

        <label>Imię i nazwisko</label>
        <input name="name" placeholder="Smart Home">

        <label>Email</label>
        <input name="email" type="email" placeholder="mail@smarthome.pl">

        <label>Temat</label>
        <textarea name="topic" placeholder="Temat wiadomości"></textarea>

        <label>Treść wiadomości</label>
        <textarea name="message" placeholder="Napisz wiadomość"></textarea>

        <input id="submit" name="submit" type="submit" value="Wyślij">

      </form>
    </div>

      <a name="Kontakt"></a>
      <h1>Dane kontaktowe</h1>  <br/>
      <p><a href="mailto: mail@mail.com">Adres mailowy: mail@mail.com</a></p>
      <p>Numer kontaktowy: 123 4-6 789</p>
      <p>Adres firmy: Unnamed Road 1, 80-299 Gdańsk</p> <br/>
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m23!1m12!1m3!1d17540.099422435993!2d18.508873246603986!3d54.39433080397501!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!4m8!3e6!4m0!4m5!1s0x46fd755f9b2ad8ed%3A0xf00103fe8d8d5538!2sUnnamed+Road%2C+Gda%C5%84sk!3m2!1d54.3989392!2d18.5111529!5e0!3m2!1spl!2spl!4v1490700503006"
        width="100vw" height="650" frameborder="0" style="border:0; box-sizing:content-box; width:100%;" allowfullscreen></iframe>
    </div>
    <div class="col-xs-12 rect no-padding"><br/>Projekt grupowy AiUI 2017 &copy;</div>

</section>
