<section id="gallery" class="gallery">

  <div class="col-xs-12 rect no-padding">

    <h1>{{'gallery.gallery' | translate}} </h1>
    <br/>
    <p>{{'gallery.elements' | translate}} </p>
    <br/>

    <a target="_blank" href="../../assets/img/0.jpg"> <img id="obrazek1.jpg" src="../../assets/img/miniatury/0M.jpg" alt="Sterownik" height="150"/> </a>
    <a target="_blank" href="../../assets/img/1.jpg"> <img id="obrazek2.jpg" src="../../assets/img/miniatury/1M.jpg" alt="Stanowisko" height="150"/> </a>
    <a target="_blank" href="../../assets/img/2.jpg"> <img id="obrazek3.jpg" src="../../assets/img/miniatury/2M.jpg" alt="Stanowisko" height="150"/> </a>
    <a target="_blank" href="../../assets/img/3.jpg"> <img id="obrazek4.jpg" src="../../assets/img/miniatury/3M.jpg" alt="Stanowisko" height="150"/> </a> <br/><br/>
    <a target="_blank" href="../../assets/img/4.jpg"> <img id="obrazek5.jpg" src="../../assets/img/miniatury/4M.jpg" alt="Stanowisko" height="150"/> </a>
    <a target="_blank" href="../../assets/img/5.jpg"> <img id="obrazek6.jpg" src="../../assets/img/miniatury/5M.jpg" alt="Sterownik" height="150"/> </a>
    <a target="_blank" href="../../assets/img/6.jpg"> <img id="obrazek7.jpg" src="../../assets/img/miniatury/6M.gif" alt="Stanowisko" height="150"/> </a>
    <a target="_blank" href="../../assets/img/7.jpg"> <img id="obrazek8.jpg" src="../../assets/img/miniatury/7M.jpg" alt="Stanowisko" height="150"/> </a>

    <br/><br/>

    <div id="slider-wrap">
      <div id="slider">


        <div id="toggle-left"  class="toggles">  <i class="fa fa-arrow-left fa-3x"></i>    </div>
        <!--<div id="play-btn"     class="toggles">  <i class="fa fa-play fa-3x"></i>          </div>-->
        <!--<div id="pause-btn"    class="toggles">  <i class="fa fa-pause fa-2x"></i>         </div>-->
        <div id="toggle-right" class="toggles">  <i class="fa fa-arrow-right fa-3x"></i>   </div>

        <ul class="slides">
            <li class="slide">
              <img src="../../assets/img/0.jpg" alt="Sterownik" height="500px !important" width="500px !important">
            </li>

            <li class="slide">
              <img src="../../assets/img/1.jpg" alt="Sterownik" height="500px !important" width="500px !important">
            </li>

            <li class="slide">
              <img src="../../assets/img/2.jpg" alt="Sterownik" height="500px !important" width="500px !important">
            </li>

            <li class="slide">
              <img src="../../assets/img/3.jpg" alt="Sterownik" height="500px !important" width="500px !important">
            </li>

            <li class="slide">
              <img src="../../assets/img/4.jpg" alt="Sterownik" height="500px !important" width="500px !important">
            </li>

            <li class="slide">
              <img src="../../assets/img/5.jpg" alt="Sterownik" height="500px !important" width="500px !important">
            </li>

            <li class="slide">
              <img src="../../assets/img/6.jpg" alt="Sterownik" height="500px !important" width="500px !important">
            </li>

            <li class="slide">
              <img src="../../assets/img/7.jpg" alt="Sterownik" height="500px !important" width="500px !important">
            </li>
          </ul>

      </div>

      <div id="slider-paging">
        <ul class="slider-pages">
          <li id="slider-page-1" class="slider-page"><img src="../../assets/img/miniatury/0M.jpg" alt="Sterownik"></li>
          <li id="slider-page-2" class="slider-page"><img src="../../assets/img/miniatury/1M.jpg" alt="Sterownik"></li>
          <li id="slider-page-3" class="slider-page"><img src="../../assets/img/miniatury/2M.jpg" alt="Sterownik"></li>
          <li id="slider-page-4" class="slider-page"><img src="../../assets/img/miniatury/3M.jpg" alt="Sterownik"></li>
          <li id="slider-page-5" class="slider-page"><img src="../../assets/img/miniatury/4M.jpg" alt="Sterownik"></li>
          <li id="slider-page-6" class="slider-page"><img src="../../assets/img/miniatury/5M.jpg" alt="Sterownik"></li>
          <li id="slider-page-7" class="slider-page"><img src="../../assets/img/miniatury/6M.gif" alt="Sterownik"></li>
          <li id="slider-page-8" class="slider-page"><img src="../../assets/img/miniatury/7M.jpg" alt="Sterownik"></li>
        </ul>
      </div>
    </div>


    <br/><br/><br/><br/>
    <p>{{'gallery.demo' | translate}} </p>
    <br/><br/>
    <div class="video-container">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/Ssg6DCcMxTI" frameborder="0"></iframe>
    </div>
  </div>

</section>


