<section id="gallery" class="gallery">

  <div class="col-xs-12 rect no-padding">

    <h1>Galeria</h1>
    <br/>
    <p>Zachęcamy do zapoznania się z elementami naszego stanowiska... </p>
    <br/>

    <a target="_blank" href="../../assets/img/0.jpg"> <img id="obrazek1.jpg" src="../../assets/img/miniatury/0M.jpg" alt="Sterownik" height="150"/> </a>
    <a target="_blank" href="../../assets/img/1.jpg"> <img id="obrazek2.jpg" src="../../assets/img/miniatury/1M.jpg" alt="Stanowisko" height="150" /> </a>
    <a target="_blank" href="../../assets/img/2.jpg"> <img id="obrazek3.jpg" src="../../assets/img/miniatury/2M.jpg" alt="Stanowisko" height="150" /> </a>
    <a target="_blank" href="../../assets/img/3.jpg"> <img id="obrazek4.jpg" src="../../assets/img/miniatury/3M.jpg" alt="Stanowisko" height="150" /> </a> <br /><br />
    <a target="_blank" href="../../assets/img/4.jpg"> <img id="obrazek5.jpg" src="../../assets/img/miniatury/4M.jpg" alt="Stanowisko" height="150" /> </a>
    <a target="_blank" href="../../assets/img/5.jpg"> <img id="obrazek6.jpg" src="../../assets/img/miniatury/5M.jpg" alt="Sterownik" height="150" /> </a>
    <a target="_blank" href="../../assets/img/6.gif"> <img id="obrazek7.jpg" src="../../assets/img/miniatury/6M.gif" alt="Stanowisko" height="150" /> </a>
    <a target="_blank" href="../../assets/img/7.jpg"> <img id="obrazek8.jpg" src="../../assets/img/miniatury/7M.jpg" alt="Stanowisko" height="150" /> </a>

    <br/><br/>
    <div class="my-slider">
      <ul>
        <li> <img src="../../assets/img/0.jpg" alt="Sterownik" sizes="25vw"  /> </li>
        <li> <img src="../../assets/img/1.jpg" alt="Sterownik" height="400" /> </li>
        <li> <img src="../../assets/img/2.jpg" alt="Sterownik" height="400" /> </li>
        <li> <img src="../../assets/img/3.jpg" alt="Sterownik" height="400" /> </li>
        <li> <img src="../../assets/img/4.jpg" alt="Sterownik" height="400" /> </li>
        <li> <img src="../../assets/img/5.jpg" alt="Sterownik" height="400" /> </li>
        <li> <img src="../../assets/img/6.gif" alt="Sterownik" height="400" /> </li>
        <li> <img src="../../assets/img/7.jpg" alt="Sterownik" height="400" /> </li>
      </ul>
    </div>


    <br/><br/><br/><br/>
    <p>... oraz do obejrzenia krótkiego pokazu demonstrującego naszą pracę. </p>
    <br/><br/><div class="video-container"><iframe width="560" height="315" src="https://www.youtube.com/embed/Ssg6DCcMxTI" frameborder="0" allowfullscreen></iframe></div>

  </div>

</section>

