section.gallery {
  background:  #99E1FF;
}
section.gallery h1 {
  font-size: 3.5em!important;
  font-weight: bold;
  text-transform: capitalize;
  padding: 8vh 10vh 4vh;
  text-align: center;
  margin:0;
  height: 198px;
}
section.gallery p {
  color:#ffffff;
  font-size: 2em;
  font-weight: bold;
}
.col-xs-12{
  background: #99E1FF;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  align-content: center;
  text-align: center;
  margin: 0 auto;
  top: 0;
  left: 25%;
  width: 50%;
  height: 50%;
}

img {
  max-width: 90% !important;
  height: auto;
}

#slider {
  overflow: hidden;
  position: relative;
  width: 50vw !important;
  left:25%;
}

.slides, .slide {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slides img {
  margin: auto;
  width: 100%;
}

.slide {
  float: left;
}

#slider .toggles {
  color: red;
  height: 48px;
  margin: auto;
  opacity: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  transition: all .2s linear;
  width: 48px;
  z-index: 1;
}

#slider .toggles:hover {
  cursor: pointer;
}

#slider:hover .toggles {
  opacity: 1;
}

#slider .toggles i:before {
  margin: auto;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
}

#slider #toggle-right i:before, #slider #toggle-left i:before {
  height: 52px;
  width: 18px;
}

#slider #pause-btn i:before {
  height: 30px;
  width: 28px;
}

#slider #play-btn i:before {
  height: 48px;
  width: 42px;
}

#toggle-right {
  right: 20px;
}

#toggle-left {
  left: -10px;
}

#pause-btn {
  right: 68px;
}

#play-btn {
  left: 68px;
}

.slider-pages {
  margin-top: 50px;
  padding: 0;
  text-align: center;
}

.slider-pages .slider-page {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
