<div class="navbar-header">
  <a class="navbar-brand" href="#">Auth0 - Angular 2</a>
  <button class="btn btn-primary btn-margin" (click)="auth.login()" *ngIf="!auth.authenticated()">Log In</button>
  <button class="btn btn-primary btn-margin" (click)="auth.logout()" *ngIf="auth.authenticated()">Log Out</button>
</div>
<main class="container">
  <router-outlet></router-outlet>
</main>
<app-home></app-home>
<app-login></app-login>
<app-about></app-about>
<app-services></app-services>
<app-functions></app-functions>
<app-contact></app-contact>
