<section class="offer" id="offer">

  <div class="col-xs-12 rect">
    <h1>{{'offer.offer' | translate}}</h1>
    <h3>{{'offer.slogan' | translate}}</h3>

    <table  align="center" id="offer_table">

      <tr>
        <td style="width: 50vw; font-size: 2em;">SmartHome Start</td>
        <td style="width: 50vw; font-size: 2em;">SmartHome Premium</td>
      </tr>
      <tr>
        <td>{{'offer.start' | translate}}</td>
        <td>{{'offer.premium' | translate}}
        </td>
      </tr>
    </table>
    <p></p>
   <h3></h3>
    <button class="btn btn-primary btn-lg offer-btn" routerLink="/contact">{{'offer.button' | translate}}</button>
    <br/><br/>
    <br/><br/>
  </div>

</section>
