<section class="offer" id="offer">

  <div class="col-xs-12 rect">
    <h1>Oferta</h1>
    <h3>Firma SmartHome oferuje następujące pakiety:</h3>

    <table  align="center" id="offer_table">

      <tr>
        <td style="width: 50vw; font-size: 2em;">SmartHome Start</td>
        <td style="width: 50vw; font-size: 2em;">SmartHome Premium</td>
      </tr>
      <tr>
        <td>Zawiera mechanizmy umożliwiające pomiar oraz sterowanie temperaturą i oświetleniem.</td>
        <td>Zawiera mechanizmy umożliwiające pomiar oraz sterowanie temperaturą i oświetleniem a także mechanizmy
          sterowania roletami, pomiaru wilgotności, parametrów energii oraz system powiadomień.
        </td>
      </tr>
    </table>
    <p></p>
   <h3>Każdego klienta traktujemy indywidualnie i dobieramy odpowiednie komponenty w zależności od potrzeb klienta!</h3>
    <button class="btn btn-primary btn-lg" routerLink="/contact">Skontakuj się z nami!</button>
    <br/><br/>
    <br/><br/>
  </div>

</section>
