<div class="col-xs-12 rect">
  <a name="oferta"></a>
  <h1>Oferta</h1>  <br/>
  <img src="../../assets/img/logo2.png" id="logo" alt="Smarthome">
  <p>Firma SmartHome Oferuje następujące pakiety:</p>

  <table border cellpadding="15" align="center" id="offer_table">
    <tr>
      <td> Produkt</td>
      <td>Opis</td>
      <td>Cena</td>
    </tr>
    <tr>
      <td> Pakiet Zwykły</td>
      <td>Zawiera mechanizmy umożliwiające pomiar oraz sterowanie temperaturą i oświetleniem.</td>
      <td>1100 zł</td>
    </tr>
    <tr>
      <td> Pakiet Premium</td>
      <td>Zawiera mechanizmy umożliwiające pomiar oraz sterowanie temperaturą i oświetleniem a także mechanizmy
        sterowania roletami, pomiaru wilgotności, parametrów energii oraz system powiadomień.
      </td>
      <td> 1900 zł</td>
    </tr>
  </table>

  <p></p><br/><br/>
  <p>Zobacz nasze produkty w galerii:</p>
  <p><a routerLink="../gallery">Galeria</a></p>
  <p>W sprawie zmówienia prosimy kontaktować się z nami:</p>
  <p><a routerLink="../contact">Kontakt</a></p>
  <br/><br/>
</div>
