
<div class="row temperatures">
  <div class="col-xs-12">
    Aktualna temperatura:
  </div>
  <!--<div class="col-sm-6">-->
    <!--Ustaw temperaturę:-->
  <!--</div>-->
</div>
<br />
<div class="row temperatures">
  <div class="col-xs-10 col-xs-push-1 col-sm-6 col-sm-push-3">
    <div class="temperature_box" id="actual_temp">
      {{actual_temp}} <span id="celcius">&deg;C</span>
    </div>
  </div>
  <!--<div class="col-sm-4 col-sm-push-3">-->
    <!--<div clas="row temperatures">-->
      <!--<div class="temperature_box">-->
        <!--{{setted_temp}} &deg;C-->
      <!--</div>-->
    <!--</div>-->
    <!--<br />-->
    <!--<div class="row temperatures">-->
      <!--<button class="col-sm-6 set_temperature" id="temperature_minus" (click)="fSetTemperature('-')">-</button><button class="col-sm-6 set_temperature" id="temperature_plus" (click)="fSetTemperature('+')">+</button>-->
    <!--</div>-->
  <!--</div>-->
</div>


