@font-face {
  font-family: VT323;
  src: url(https://fonts.googleapis.com/css?family=VT323);
}

@font-face {
  font-family: digital;
  src: url(../../assets/font-awesome/fonts/digital.ttf);
}

#temperature_minus {
  border-bottom-left-radius: 25px;
  border-top-left-radius: 25px;
}

#temperature_plus {
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
}

/*#actual_temp {*/
  /*color: darkgreen;*/
/*}*/

#celcius {
  color: white;
}

.temperature_box {
  font-family: 'digital', monospace;
  background-color: #0f0f0f;
  border-radius: 10px;
  font-size: 50px;
  line-height: 50px;
  margin-left: auto;
  margin-right: auto;
}

.temperatures {
  text-align: center;
}
