*{
  margin: 0;
  padding: 0;
}

.home {
  background: url(../../assets/img/house.jpg)center center no-repeat;
  width: 100vw;
  height: 100vh;
}

.logo img {
  width: 105px;
  height: auto;
  fill: #000;
  margin: 0;
}

.call-to-action h1 {
  font-size: 3.5em;
  text-transform: capitalize;
  padding: 25vh 10vh;
  text-align: center;
}

.call-to-action p {
  text-align: center;
  font-size: 2em;
  padding-bottom: 20px;
}

.navbar-header .navbar-brand {
  padding-left: 5px;
  padding-right: 0;

}

.navbar-default,.navbar, .navbar-fixed-top {
  width: 100vw;
}

.navbar {
  opacity: 0.9;
}

.dropdown-menu li a img {
  width: 30px;
  height: auto;
  padding-right: 10px;
  position: relative;
  bottom: 2px;
}

.move-down {
  text-align: center;
}

.row div {
  text-align: center;
  padding: 0;
}
